<!-- <div class="img-container">
  <img src="./assets/globe.svg" alt="">
</div>
<ul class="container">
  <li>
    <img src="./assets/home.svg" alt="">
  </li>
  <li>
    <img src="./assets/settings.svg" alt="">
  </li>
  <li>
    <img src="./assets/user.svg" alt="">
  </li>
  <li>
    <img src="./assets/marker.svg" alt="">
  </li>
  <li>
    <img src="./assets/alarm-clock.svg" alt="">
  </li>
  <li>
    <img src="./assets/world.svg" alt="">
  </li>
</ul> -->

<app-rotate-animation></app-rotate-animation>
<app-rotate-pulsing-animation></app-rotate-pulsing-animation>