<div class="img-container">
    <img src="./assets/globe.svg" alt="">
  </div>
  <ul>
    <li>
      <div>
        <img src="./assets/home.svg" alt="">
      </div>
    </li>
    <li>
      <div>
        <img src="./assets/settings.svg" alt="">
      </div>
    </li>
    <li>
      <div>
        <img src="./assets/user.svg" alt="">
      </div>
    </li>
    <li>
      <div>
        <img src="./assets/marker.svg" alt="">
      </div>
    </li>
    <li>
      <div>
        <img src="./assets/alarm-clock.svg" alt="">
      </div>
    </li>
    <li>
      <div>
        <img src="./assets/world.svg" alt="">
      </div>
    </li>
  </ul>